/*--------------L O G O    D E   L A   E M P R E S A ------------*/
body{
    background: rgb(221, 221, 221);
}
.logo{
    height: 10%;
    width: 10%;
}

.nav-item{
    border-radius: 12%;
}
.nav-item:hover{
    background: rgb(255, 255, 255);
}

.carousel{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.d-block{
    height: auto;
    width: 60%;
}
.nav-link{
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    text-align: center;
}
.navbar-toggler svg{
    width: 35px;
    height: 35px;
}
.navbar-toggler svg:hover{
    color: green;
}


/*----------------F O R M U L A R I O----------------*/
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    padding-top: 20px;
}

.logo h1 b{
    color: green;
}
.logo h1{
    color: black;
}
.titulo_reg{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;}
.form_iniciar{
    height: auto;
    width: auto;
    margin: auto;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1px;
}

.btn{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.separador{
    margin-top: 100px;
}
.boton_entrar{
    width: 80%;
    margin: 10%;
    margin-top: 25px;
}


/*--------------------------------------------P I E  D E  P A G I N A-------------------------------------*/
.footer-signin .new{
    margin-top: 12px;
    font-size: 17px;
    color: #727272;
    font-weight: lighter;
}
.footer-signin .new a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}
.footer-signin .new a:hover{
    text-decoration: underline;
}
.footer-signin .protect{
    margin-top: 12px;
    font-size: 13px;
    color: #9b9b9b;
}
.footer-signin .protect a{
    text-decoration: none;
    color: #5656ff;
}
.footer{
    padding: 25px 40px 50px;
    background-color: #000000b4;
    margin: auto;
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer-info p{
    color: white;
    font-size: 20px;
}
.footer-info p a{
    color: inherit;
    text-decoration: none;
}
.footer-links{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-link__item{
    width: 250px;
    min-width: 200px;
}
.footer-link__item a{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-info select{
    background-color: orange;
    border: 1px solid rgba(255, 255, 255, 0.466);
    outline: none;
    padding: 13px;
    border-radius: 5px;
}
